{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 1,
    "no-undef": 1,
    "eol-last": 0,
    "indent": [2, "tab"],
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "no-unused-vars": 1,
    "comma-dangle": 0,
    "no-class-assign": 0,
    "arrow-spacing": 2,
    "no-mixed-spaces-and-tabs": 1,
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
  }
}