# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.pyc
node_modules/
db.sqlite3
assets/bundles
media/
static/*
secret_filingroup
package-lock.json
venv/
frontend/dist/
video.mp4