{% extends "landing/base.html" %}
{% load staticfiles %}

{% block content %}
  <main class="main">
    <section class="course__first-section">
      <div class="container course__first-container">
        <h5>Практический онлайн-курс Алексея Игнатовича</h5>
        <h1 class="main__title">Бизнес на <img class="amazon" src="{% static "landing/img/amazon.png" %}"> за 30 дней</h1>
        <h5 class="bold">Старт 26 Ноября</h5><a class="video__btn"><i class="fa fa-play-circle-o"></i>Получить доступ к видео</a>
      </div>
    </section>
    <section class="section course__second-section">
      <div class="container">
        <h2 class="bold section__title">Чему мы вас научим за <span class="orange">30 дней</span></h2>
        <ul class="courses__second-list">
          <li class="courses__second-item"><i class="icon-check"></i><span>Находить тренды и товары, которые принесут прибыль</span></li>
          <li class="courses__second-item"><i class="icon-check"></i><span>Находить производителей, исполнителей, вести переговоры, ставить задачи</span></li>
          <li class="courses__second-item"><i class="icon-check"></i><span>Пониманию, как работать с Вашим аккаунтом — где, что находится и как работает</span></li>
          <li class="courses__second-item"><i class="icon-check"></i><span>Готовить продукт к запуску, находить аудиторию для эффективного старта</span></li>
          <li class="courses__second-item"><i class="icon-check"></i><span>Использовать промо и рекламные инструменты для повышения продаж</span></li>
          <li class="courses__second-item"><i class="icon-check"></i><span>Пониманию «что дальше» — как развивать свой бизнес и создавать свою империю</span></li>
        </ul>
      </div>
    </section>
    <section class="section course__third-section">
      <div class="container">
        <h2 class="bold section__title white"><span class="orange">План </span>занятий:</h2>
        <ul class="course__third-list">
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 1</span>
                <h4 class="course__plan-name">Знакомство: что такое Amazon?</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 2</span>
                <h4 class="course__plan-name">Каковы критерии идеального товара?</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 3</span>
                <h4 class="course__plan-name">Где искать поставщиков?</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 4</span>
                <h4 class="course__plan-name">Пошаговая инструкция: регистрация на Amazon Seller Central</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 5</span>
                <h4 class="course__plan-name">Что такое листинг товара?</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 6</span>
                <h4 class="course__plan-name">Создание профессионального листинга</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 7</span>
                <h4 class="course__plan-name">Запуск товара - основные этапы</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
          <li class="course__third-item"><a class="course__third-link" href="">
              <div class="course__plan-top"><span>Тема 8</span>
                <h4 class="course__plan-name">Первые продажи - куда направить первые поступления</h4><i class="fa fa-minus"></i>
              </div>
              <div class="course__plan-content">
                <p>Почему так выгодно продавать свой товар на этой интернет-площадке? Как выбрать правильный товар и вывести заработок?</p>
              </div></a></li>
        </ul>
        <div class="course__third-footer">
          <h4>Каждый Четверг.</h4>
          <div class="text">Ответы на вопросы по итогам прошедших сессий.<span>Делимся успехами, обновлениями, опытом</span></div>
          <div class="course__total"><i class="icon-check"></i><span>Итого: 30 дней теории и практики</span></div>
        </div>
      </div>
      <div class="particle-canvas"></div>
    </section>
    <section class="section course__fourth-section">
      <div class="container">
        <h2 class="bold section__title">В чём <span class="orange">уникальность </span>нашего обучения?</h2>
        <ul class="course__fourth-list">
          <li class="course__fourth-item">
            <div class="course__fourth-pic"><img src="{% static "landing/img/courses/pic-1.png" %}"></div>
            <div class="course__fourth-content">
              <h4>Цена и качество</h4><span>Да! Мы сделали бизнес на Amazon самым доступным на рынке.</span>
            </div>
          </li>
          <li class="course__fourth-item">
            <div class="course__fourth-pic"><img src="{% static "landing/img/courses/pic-2.png" %}"></div>
            <div class="course__fourth-content">
              <h4>Партнеры в Китае</h4><span>Бесплатная проверка и хранение товара в Китае от наших официальных партнеров</span>
            </div>
          </li>
          <li class="course__fourth-item">
            <div class="course__fourth-pic"><img src="{% static "landing/img/courses/pic-3.png" %}"></div>
            <div class="course__fourth-content">
              <h4>30 дней вместо 60</h4><span>Никакой воды. Только нужная информация и практика, практика!</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section course__fifth-section">
      <div class="container">
        <h2 class="bold section__title white"><span class="orange">Мы запустим продукт вместе с Вами!</span><br>Вместе мы пройдем все этапы запуска бизнеса — от А до Я</h2>
        <ul class="course__fifth-list">
          <li class="course__fifth-item">
            <div class="course__fifth-pic"><i class="icon-form_1"></i></div>
            <div class="course__fifth-content">
              <h4>Поиск</h4><span>Выберем товар, поставщика, способ доставки</span>
            </div>
          </li>
          <li class="course__fifth-item">
            <div class="course__fifth-pic"><i class="icon-form_2"></i></div>
            <div class="course__fifth-content">
              <h4>Заказ</h4><span>Закажем сэмпл, оценим. Купим первую партию</span>
            </div>
          </li>
          <li class="course__fifth-item">
            <div class="course__fifth-pic"><i class="icon-form_3"></i></div>
            <div class="course__fifth-content">
              <h4>Старт</h4><span>Вывод товар на Amazon. Первые продажи и отзывы</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="particle-canvas"></div>
    </section>
    <section class="section course__sixth-section">
      <div class="container">
        <h2 class="bold section__title">Хотите <span class="orange">запустить бизнес на Амазон?</span><br>Записывайтесь!</h2>
        <h4 class="longtitle simple">Старт – 21 августа</h4>
        <ul class="product__privileges-list">
          <li class="product__privileges-item">
            <h3 class="privilege__title">Быстрый старт</h3>
            <div class="privilege__content">
              <h4 class="privilege__price">399$</h4>
              <p>Доступ к видео-записям всех уроков:</p>
              <ul>
                <li>• 4 урока (4 основных шага):</li>
                <li>• Введение в обучение</li>
                <li>• Методика подбора и оценка товара;</li>
                <li>• Психология общения с Китаем</li>
                <li>• Подбор поставщика.</li>
                <li>• Заказ образцов продукта.</li>
                <li>• Заказ первой партии продукта;</li>
                <li>• Регистрация аккаунта продавца.</li>
                <li>• Обзор личного кабинета продавца.</li>
                <li>• Покупка UPC-кодов;</li>
                <li>• Создание листинга.</li>
                <li>• Разработка фотографий.</li>
                <li>• Поиск ключевых слов. Настройка и оптимизация рекламы.</li>
                <li>• Раскрутка товара.</li>
                <li>• Первые продажи.</li>
                <li>• Вывод денег.</li>
                <li>• 4 сессии «Вопрос-ответ»</li>
                <li>• Полная аналитика выбранного Вами товара для запуска</li>
                <li>• Доступ 24/7 к записям уроков</li>
                <li>• Проверка ДЗ и короткие комментарии к ним</li>
              </ul><a class="centered privilege__register-btn"><i class="fa fa-check-circle-o"></i>Записаться</a>
            </div>
          </li>
          <li class="product__privileges-item">
            <h3 class="privilege__title">Все включено</h3>
            <div class="privilege__content">
              <h4 class="privilege__price">750$</h4>
              <ul>
                <li>• 4 урока (4 основных шага):</li>
                <li>• Введение в обучение</li>
                <li>• Методика подбора и оценка товара;</li>
                <li>• Психология общения с Китаем</li>
                <li>• Подбор поставщика.</li>
                <li>• Заказ образцов продукта.</li>
                <li>• Заказ первой партии продукта;</li>
                <li>• Регистрация аккаунта продавца.</li>
                <li>• Обзор личного кабинета продавца.</li>
                <li>• Покупка UPC-кодов;</li>
                <li>• Создание листинга.</li>
                <li>• Разработка фотографий.</li>
                <li>• Поиск ключевых слов. Настройка и оптимизация рекламы.</li>
                <li>• Раскрутка товара.</li>
                <li>• Первые продажи.</li>
                <li>• Вывод денег.</li>
                <li>• 4 сессии «Вопрос-ответ»</li>
                <li>• Полная аналитика выбранного Вами товара для запуска</li>
                <li>• Доступ 24/7 к записям уроков</li>
                <li>• Видео-разбор ваших домашних заданий</li>
                <li>• Поддержка в Viber, WhatsApp,  т.д.</li>
                <li>• Доступ в закрытую группу в Facebook</li>
                <li>• Полезные ссылки и платные ресурсы – бесплатно</li>
              </ul>
              <p><strong>Важно! После обучения все ученики остаются в закрытом сообществе FilinGroup, где всегда могут рассчитывать на помощь и поддержку!</strong></p><a class="centered privilege__register-btn"><i class="fa fa-check-circle-o"></i>Записаться</a>
            </div>
          </li>
          <li class="product__privileges-item">
            <h3 class="privilege__title">Премиум</h3>
            <div class="privilege__content">
              <h4 class="privilege__price">1150$</h4>
              <p><strong>• Все что входит в групповое обучение</strong></p>
              <p>• Прямая связь с Алексеем Игнатовичем в меседжере</p>
              <p>• Индивидуальные консультации со спикером после каждого этапа обучения</p>
              <p>• Запуск продукта под четким руководством Алексея</p><a class="centered privilege__register-btn"><i class="fa fa-check-circle-o"></i>Записаться</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section course__seventh-section">
      <div class="container">
        <div class="course__seventh-bg"></div>
        <h2 class="bold section__title white"><span class="orange">100% гарантия </span>возврата денег</h2>
        <h4 class="section__descr">Вы можете вернуть деньги в течение первых 7 дней (1 урок + сессия ответов на вопросы)</h4>
        <ul class="course__seventh-list">
          <h4>Мы вернем Вам деньги, если:</h4>
          <li class="course__seventh-item"><i class="icon-no"></i><span>Вы решите, что Amazon — не ваше</span></li>
          <li class="course__seventh-item"><i class="icon-no"></i><span>Найдете такой же насыщенный курс, но дешевле</span></li>
          <li class="course__seventh-item"><i class="icon-no"></i><span>Решите не выделяться, и быть, как все</span></li>
          <li class="course__seventh-item"><i class="icon-no"></i><span>Вам не нравится голос ведущего</span></li>
          <li class="course__seventh-item"><i class="icon-no"></i><span>Уверены, что нельзя зарабатывать $10000, просто сидя на пляже.</span></li>
        </ul>
        <p><strong>У Вас есть первые 7 дней занятий, чтобы решить: действительно ли Вы хотите зарабатывать больше других.</strong></p>
      </div>
      <div class="particle-canvas"></div>
    </section>
    <section class="section course__eighth-section">
      <div class="container">
        <h2 class="bold section__title">Хотите <span class="orange">Ответы </span>на часто задаваемые вопросы:</h2>
        <div class="video__wrap">
          <h2>Смотреть видео</h2><a class="video__start-btn" href=""><i class="fa fa-play"></i></a>
          <video class="video" src="{% static "landing/img/webinar/video.mp4" %}" controls></video>
        </div>
      </div>
    </section>
    <section class="register">
      <div class="black__whole">
        <div class="container">
          <div class="black__whole-title">
            <h4 class="orange">Остались вопросы?</h4><span class="bold">Напишите нам в один из мессенджеров:</span><span>viber, telegram, whatsapp, fbmessenger, или заполните  форму ниже и мы свяжемся с вами в ближайшее время:</span>
          </div>
        </div>
      </div>
      <form class="register__form">
        <div class="container">
          <div class="form__content">
            <ul class="register__form-list">
              <li class="register__form-item">
                <input type="text" placeholder="Имя*">
              </li>
              <li class="register__form-item">
                <input type="text" placeholder="Номер телефона*">
              </li>
            </ul>
            <button class="centered privilege__register-btn"><i class="fa fa-check-circle-o"></i>Отправить</button>
            <label>
              <input type="checkbox" name="agreement">Я согласен(на) на обработку персональных данных<br>* поля обязательны к заполнению
            </label>
          </div>
        </div>
      </form>
      <div class="phone__contaier">
        <div class="phone__wrap"><img src="/{% static "landing/img/courses/bg-3.png" %}" alt="phone"></div>
      </div>
    </section>
  </main>
{% endblock %}