/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-form_1 {
  background-image: url(sprite.png);
  background-position: 0px -67px;
  width: 72px;
  height: 71px;
}
.icon-form_2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 77px;
  height: 67px;
}
.icon-form_3 {
  background-image: url(sprite.png);
  background-position: -77px 0px;
  width: 67px;
  height: 64px;
}
